.header_tab {
  display: flex;
  width: 100%;
  font-size: 32px;
  .tab-item {
    flex: 1;
    text-align: center;
    height: 120px;
    line-height: 120px;
    font-weight: 300;
    color: #dddddd;
    // border-bottom: 1px solid rgba(158, 158, 158, 0.12);
  }
  // .tab-item:nth-child(2) {
  //   border-left: 1px solid rgba(158, 158, 158, 0.12);
  //   border-right: 1px solid rgba(158, 158, 158, 0.12);
  // }
  .active {
    position: relative;
    color: #ffffff;
  }
  .active::after {
    position: absolute;
    content: "";
    background: #ffffff;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    height: 3px;
    width: 130px;
  }
}
