.header_tab {
  display: flex;
  width: 100%;
  .tab-item {
    flex: 1;
    text-align: center;
    height: 120px;
    line-height: 120px;
    font-size: 25px;
    font-weight: 300;
    color: #dddddd;
    border-bottom: 1px solid rgba(158, 158, 158, 0.12);
  }
  .tab-item:nth-child(2) {
    border-left: 1px solid rgba(158, 158, 158, 0.12);
    border-right: 1px solid rgba(158, 158, 158, 0.12);
  }
  .active {
    position: relative;
    color: #e70031;
  }
  .active::after {
    position: absolute;
    content: "";
    background: #e70031;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    height: 1px;
    width: 78px;
  }
}
