.main {
  width: 100vw;
  min-height: 100vh;
  background: #000000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 150px;
  color: #6c6c6c;
}
