
// 方正兰亭超细黑简体
@font-face {
  font-family: "FZLTCXHJT";
  src: url("https://cna-prd-nars-oss.oss-cn-shanghai.aliyuncs.com/font/FZLTCXHJT.TTF");
}


// 方正兰亭纤黑简体
@font-face {
  font-family: "FZLTQHJT";
  src: url("https://cna-prd-nars-oss.oss-cn-shanghai.aliyuncs.com/font/FZLTXHJW.TTF");
}

@font-face {
  font-family: "ENGLISH_F_Z";
  src: url("https://cna-prd-nars-oss.oss-cn-shanghai.aliyuncs.com/font/HelveticaNeueLTStd-Lt.otf");
}

.FZLTCXHJT{
  font-family: "FZLTCXHJT" !important;
  font-weight: 700;
}

.FONT_BOLD{
  font-weight: bold;
}

.ENGLISH_FAMILY{
  font-family: "ENGLISH_F_Z" !important;
}

page{
  background-color: #000000;
  font-family: "FZLTQHJT";
}

view,text,input,picker{
  font-family: "FZLTQHJT";
}

.page_bg1{
  background:url(https://cna-prd-nars-oss.oss-cn-shanghai.aliyuncs.com/index/bg.png);
  background-size:100% 100%;
}

.btn-no {
	width: auto;
	border: none !important;
	background-color: transparent;
	border-radius: 0;
	margin: 0;
	padding: 0;
	outline: none;
	line-height: 0;
	opacity: 1;
}

.wx-modal-content {
  white-space: pre-line; /* 允许保留换行符 */
}

.btn-no::after {
	border: none !important;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-overflow-more {
  overflow: hidden;/*超出文本隐藏*/
  text-overflow:ellipsis; /*超出部分省略号显示 */
  display: -webkit-box;/*弹性盒模型*/
  -webkit-box-orient: vertical;/*上下垂直*/
  -webkit-line-clamp: 2;/*自定义行数*/
}
.text-underline {
  text-decoration: underline;
  padding-bottom: 2px; /* 设置下划线与文本底部的间距 */
}

image {
	height: auto;
}

.ipt-placeholder {
  font-size: 28px;
  font-weight: 400;
  color: #c1c1c1;
}

.borderBlack{
  border:1px solid #000000
}

.borderBottomBlack{
  border-bottom:1px solid #000000
}

.borderBottomBlack2{
  border-bottom:2px solid #000000
}

.borderWhite{
  border:1px solid #FFFFFF
}
.borderBottomWhite{
  border-bottom:1px solid #FFFFFF
}

.border_999{
  transform: rotate(360deg);
  border:1px solid #999999
}

.rotate_360{
  transform: rotate(360deg);
}

.home_tab_active {
  position: relative;
  color: #ffffff;
  text-shadow: 0px 0px 8px #ffffff;
}
.home_tab_active::after {
  position: absolute;
  content: "";
  background: #ffffff;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  height: 1px;
  width: 100px;
}

picker{
  width: 100%;
  height: 100%;
}
